table{
  height:100%;
  width:100%;
}

td{
  font-family: sans-serif;
  font-size: 7vh;
  margin:0px;
  margin-left:0px;
  vertical-align: middle;
}

.waku{
  border:black solid 1px;
  height: 100%;
}



.tango{
  width:500px;
  height:20%;
  text-align:center;
  background-color: #ffffff;
  border: #336699 solid 10px;
  margin:5px;
}

.mean{
  width: 500px;
  height: 20%;
  text-align:center;
  background-color: #ffffff;
  border: #990000 solid 10px;
  margin:5px;
}
